{
    "presets": [
        "stage-1",
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "transform-class-properties",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ]
            }
        ]
    ]
}