.login{
    width : 800px;

    .login-box-body{
        border-top : 2px dotted #000;
        .overlay{
            text-align: center;
            margin-bottom: 9px;
        }
    }
    .login-box-msg.has-error{
        color : #EF0D33;
        font-weight: bold;
    }
    div.login-logo {
        font-family: 'Pathway Gothic One', sans-serif;
        strong{
            color : #EF0D33;
        }
        font-size: 5em;
    }
    div.error-label{
        text-align: right;
        color: #FF0000;
        margin-bottom: 2px;
    }
    .btn{
        i.glyphicon {
            margin-right: 5px;
        }
    }
}