body {
    font-family: 'Source Sans Pro', sans-serif;
}
.content-wrapper{
    margin-top: 70px;
    margin-left: 5%;
    width: 90%;
    border: 0px !important;
    background-color: #FFF;
}

i.fa{
    margin-right: 5px;
}
.bg-strv{
    background-color: #EF0D33;
}
.overlay{
    text-align: center;
    margin-bottom: 9px;
    font-size : 2em
}
.opacity {
    opacity: 0.3
}