body {
    font-family: 'Source Sans Pro', sans-serif;
}
.content-wrapper{
    margin-left: 5%;
    width: 90%;
    border: 0px !important;
    background-color: #FFF;
}

.overlay{
    text-align: center;
    margin-bottom: 9px;
    font-size : 2em
}